<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <!--<%= stylesheet_link_tag "application", :media => "all" %>-->
  <%= stylesheet_link_tag "bootstrap/css/bootstrap", :media => "all" %>
  <%= stylesheet_link_tag "bootstrap/css/bootstrap-responsive", :media => "all" %>

  
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="padding-top: 100px">

  <%= render 'layouts/header' %>
    
  <div class="container" style="width: 70%">
  
    <% unless flash.empty? %>
      <div class="alert alert-header">
        <button class="close" data-dismiss="alert">&times;</button>
            <% flash.each do |key, value| %>
                <strong><%= value %></strong>
            <% end %>
      </div>
    <% end %>

    <div class="content" style="margin-bottom: 18px">
      <%= yield %>
    </div>
    
    <div class="footer" style="">
      <%= debug(params) if Rails.env.development? %>
      <%= session %>
    </div>
  
  </div>

</body>
</html>
